option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "sandbox.settings"
    PYTHONPATH: "/opt/python/current/app/sandbox:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "sandbox/wsgi.py"
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "sandbox/public/static/"

packages:
  yum:
    postgresql95-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []
